In [8]:
# 1. In the below elements which of them are values or an expression? eg:- values can be
# integer or string and expressions will be mathematical operators.
# *
# 'hello'
# -87.8
# -
# /
# +
# 6
n = 2*3   
type(n) 	
# Expression

int

In [5]:
n = 'hello' 
type(n)
# Value

str

In [7]:
n = -87.8
type(n)
# Value

float

In [10]:
n = 7-2
print(type(n))
# Expression

<class 'int'>

In [11]:
n = 15/3
print(type(n))
# Expression

<class 'float'>

In [12]:
n = 1+8
print(type(n))
# Expression

<class 'int'>

In [13]:
n = 6
print(type(n))
# Value

<class 'int'>

In [ ]:
# 2.What is the difference between string and variable?

A string is a value.

It is a sequence of characters enclosed in quotes (' ' or " ").

In [14]:
"hello"
type('hello')

str

In [ ]:
A variable is a name that stores a value (such as a string, number, etc).
Create a variable by assigning a value to it using the = operator.

In [16]:
name = "suman"
print(name) 
n = 52
# name,n is a variable

suman

In [ ]:
# 3. Describe three different data types.
1.Integer (int)
2.String (str)
3.List (list)

In [17]:
# 1.Integer
# Represents whole numbers (no decimals).
age = 25
type(age)

int

In [18]:
# 2.String
# Represents text data.
name = "Suman"
type(name)

str

In [19]:
# 3.List
# A list is a collection of multiple items stored in a single variable.
fruits = ['Apple','Banana','Orange']
type(fruits)

list

In [ ]:
# 4.What is an expression made up of? What do all expressions do?
An expression is made up of values, variables, and operators that combine to produce a result.

Values – numbers or strings
Example: 5, 'hello', 3.14

Variables – names that store values
Example: x, total, message

Operators – symbols that perform operations
Example: +, -, *, /, ==

In [20]:
n = 5 + 4
print(n)

9

In [21]:
n = "suman"
m = "rawat"
print(n + m)

sumanrawat

In [ ]:
All expressions evaluate to a single value.
That value can be a number, string, boolean, etc.

In [ ]:
# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
spam = 10
This is an assignment statement.
It assigns the value 10 to the variable spam.
All expressions can be part of a statement, but not all statements are expressions.

In [ ]:
# 6. After running the following code, what does the variable bacon contain?
# bacon = 22
# bacon + 1

In [23]:
bacon = 22
print(bacon)
# Assigns the value 22 to the variable 'bacon'

22

In [24]:
bacon + 1
# Evaluates to 23, but does NOT change 'bacon'
bacon = bacon + 1   # Now bacon becomes 23

23

In [ ]:
# 7. What should the values of the following two terms be?
# 'spam' + 'spamspam'
# 'spam' * 3

In [25]:
n = 'spam'+'spamspam'
print(n)

spamspamspam

In [26]:
n = 'spam'* 3
print(n)

spamspamspam

In [ ]:
# 8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
It starts with a letter (e)
Contains only letters (and it could also include numbers or underscores _)
Follows Python's variable naming rules
So eggs is a valid and proper variable name.

In [28]:
eggs = 5
print(eggs)

5

In [31]:
# It starts with a number, which is not allowed in Python for variable names.
# Python will give a SyntaxError if you try something like:
100 = "suman"
print(100)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3790503236.py, line 3)

In [ ]:
# 9.What three functions can be used to get the integer, floating-point number, or string  version of a value?

In [ ]:
Integer int()
Floating-point number float()
String str()

In [33]:
int('4')

4

In [34]:
float('3.14')

3.14

In [35]:
str(100)

'100'

In [ ]:
# 10. Why does this expression cause an error? How can you fix it?
# 'I have eaten'  + 99 + 'burritos'.

In [ ]:
# Python does not allow mixing strings and integers in concatenation using +.
# We convert integer to str then we concatenat.

In [50]:
'I have eaten' ' ' + str(99)  + ' ' 'burritos'

'I have eaten 99 burritos'

In [51]:
print(f'I have eaten {99} burritos')

I have eaten 99 burritos